.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.amiri-regular {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
}

.amiri-bold {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Amiri-Regular", serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 100;
}

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #323232;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

nav {
  background-color: #0F0F12;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 135px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-image: linear-gradient(
      90deg,
      #0F0F12,
      #6495ed,
      #0F0F12
    )
    0 0 1 0;
  border-style: solid;
  border-width: 2px;
}

.nameAndTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name, .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  line-height: 100%;
}

h1 {
  color: #6495ed;
  font-family: "Cinzel Decorative", serif;
  font-size: 47px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  top: 10px;
  padding-bottom: 10px;
}

h1:first-letter {
  font-size: 76px;
}

.firstName {
  margin-right: 10px;
}

h2, h2 > span {
  font-family: "Cinzel Decorative", serif;
  font-size: 23px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.firstTitle, h2 > span {
  margin-right: 4px;
}

.reelGallery {
  padding: 155px 10px 0px 10px;
}

.reelContainerList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.reel {
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
}

.reelCard {
  padding:56.25% 0 0 0;
  position:relative;
}

.reelPlayer {
  border-radius: 25px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #0F0F12;
}

.hero {
  margin: 20px 20px 75px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: #0F0F12;
  align-self: center;
}

.headShotContainer {
  padding: 20px 0px 20px 20px;
}

.circle {
  width: 250px;
  height: 250px;
}

.mainHeadShot {
  height: 100%;
}

.bio {
  padding: 20px;
  max-width: 750px;
}

.bio > p {
  text-indent: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 10px;
}

.lastP {
  margin-bottom: 0px;
}

.hero span {
  font-size: 18px;
  font-weight: bold;
  color: cornflowerblue;
}

footer {
  background-color: #0F0F12;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-image: linear-gradient(
      90deg,
      #0F0F12,
      #6495ed,
      #0F0F12
    )
    1 0 0 0;
  border-style: solid;
  border-width: 2px;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
}

.navLinks > li {
  list-style: none;
  margin: 0px 5px;
}

.navLinks > li > a {
  color: white;
  text-decoration: none;
}

.navLinks > li > a:hover {
  color: #6495ed;
}

.faIcon {
  font-size: 26px;
}

@media (orientation: portrait), (max-width: 800px) {
nav {
  height: 130px;
}

h1 {
  margin: auto;
  font-size: 29px;
}

h1:first-letter {
  font-size: 60px;
}

h2, h2 > span {
  font-size: 18px;
}

.title {
  display: flex;
  flex-direction: column;
}

.firstTitle {
  margin: auto;
}

.reelGallery {
  padding-top: 140px;
}

.reelContainerList {
  flex-direction: column;
}

.reelCard {
  margin: 10px 0px;
}

.reel {
  height: auto;
}

.hero {
  flex-direction: column;
  margin-top: 10px

}

.headShotContainer {
  padding: 20px 20px 0px 20px;
}

.bio {
  margin-left: 0px;
}
}

